body {
    background-color: #f6d98f;
    font-family: "Google Sans", Helvetica, sans-serif;
    margin: 0px;
}
.logo {
    width: 150px;
}
.top-header {
    background-color:#252422;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation a {
    color:#f6d98f;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
}
.navigation a:hover {
    color: #EB4E28;
    background-color: cadetblue;
}
